:root {
  --us_blue: #002147;
  --us_red: #BB133E;
}

body {
  margin: 3em;
  background-color: var(--us_blue);
  color: white;
}

.formResetTimer {
  display: flex;
  flex-direction: row;
}

input {
  margin-right: 2em;
  border: none;
  padding: 0.5em;
  outline: none;
  background-color: var(--us_red);
  color: white;
}

button {
  margin-right: 2em;
  border: none;
  padding: 0.5em;
  outline: none;
  background-color: var(--us_red);
  color: white;
}

button:hover {
  margin-right: 2em;
  color: var(--us_red);
  background-color: white;
  cursor:pointer;
}
